@import "variables.less";

.btn-primary {
    color: @primary-foreground-color;
    background-color: @primary-background-color;
    border-radius: @default-border-radius;
    border: none;
    padding: @element-padding;
    cursor: pointer;

    &:hover {
        background-color: lighten(@primary-background-color, 20%);
    }
}

.btn-default {
    color: @secondary-foreground-color;
    background-color: @secondary-background-color;
    border-radius: @default-border-radius;
    border: 1px solid lighten(@secondary-foreground-color, 50%);
    padding: @element-padding;
    cursor: pointer;
    &:hover {
        background-color: darken(@secondary-background-color, 20%);
    }
}

.btn-danger {
    color: @danger-foreground-color;
    background-color: @danger-background-color;
    border-radius: @default-border-radius;
    border: none;
    padding: @element-padding;
    cursor: pointer;

    &:hover {
        background-color: lighten(@danger-background-color, 20%);
        color: lighten(@danger-foreground-color, 10%);
    }
}

.btn-success {
    color: @success-foreground-color;
    background-color: @success-background-color;
    border-radius: @default-border-radius;
    border: none;
    padding: @element-padding;
    cursor: pointer;

    &:hover {
        background-color: lighten(@success-background-color, 20%);
        color: lighten(@success-foreground-color, 20%);
    }
}
