@import "variables.less";
* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
}

body {
    font-family: "Segoe UI","Arial",sans-serif;
    background-color: @secondary-background-color;
    // top: @nav-height;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @secondary-foreground-color;
    margin: 0;
    padding: 0;
}

.header-mixin(6);

.header-mixin(@n, @i: 1) when (@i =< @n) {
    h@{i}{
        font-size: floor(@fontsize-header-base * ((100 - ((@i - 3) * 8)) / 100));
    };
    .header-mixin(@n, (@i + 1));
}

a {
    text-decoration: none;
    color: @secondary-foreground-color;

    &:hover{
        background-color: lighten(@primary-background-color, 60%);
        padding: 2px 2px;
        border-radius: 2px;
    }

}

a:visited {
    text-decoration: none;
    color: @secondary-foreground-color;

}

hr {
    height: 1px;
    width: 90%;
    border: none;
    color: lighten(@primary-background-color, 50%);
    background-color: lighten(@primary-background-color, 50%);
}
@media screen and (max-width: @sm-media-max-width) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media screen and (min-width: @md-media-min-width) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
.top {
    margin-top: @nav-height;
}

.container {
    left: 0;
    position: relative;
    display: inline-block;
    padding: @element-padding;
    box-sizing: border-box;
    .full-width;
}

.fixed-top {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: @nav-height;
}

.full-width {
    width: 100%;
}

.avatar-panel {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid @panel-border-color;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    background-color: lighten(@primary-background-color, 35%);
    .avatar {
        display: inline-block;
        max-width: 200px;
        border: 5px solid @primary-foreground-color;
        border-radius: 50%;
    }
}

.center {
    text-align: center;
}

.btn-primary {
    color: @primary-foreground-color;
    background-color: @primary-background-color;
    border-radius: @default-border-radius;
    padding: @element-padding;
}
.panel {
    .panel-header {
        padding: @nav-padding;
        background-color: lighten(@primary-background-color, 50%);
        color: @secondary-foreground-color;
        border-top-left-radius: @default-border-radius;
        border-top-right-radius: @default-border-radius;
        margin: @panel-margin @panel-margin 0;
    }
    .panel-body {
        font-size: @fontsize-small;
        margin: 0 @panel-margin;
        border-left: solid 1px lighten(@primary-background-color, 50%);
        border-right: solid 1px lighten(@primary-background-color, 50%);
    }
    .panel-footer {
        padding: @nav-padding;
        margin: 0 @panel-margin;
        border-top: 1px solid lighten(@primary-background-color, 60%);
        border-left: 1px solid lighten(@primary-background-color, 50%);
        border-bottom: 1px solid lighten(@primary-background-color, 50%);
        border-right: 1px solid lighten(@primary-background-color, 50%);
    }
}
